.controller.xbox {
  background: url(base-white-awa.png);
  height: 630px;
  width: 750px;
  /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
  background: url(base-white-awa.png);
}
