.xbox.white {
  background: url(https://ayushthdev.github.io/gamepad-overlays/awa2.0/xboxx.gif);
}

.xbox .trigger {
  width: 88px;
  height: 121px;
  background: url(trigger.png);
  opacity: 0;
}

.xbox .bumper {
  width: 170px;
  height: 61px;
  background: url(bumper.png);
  opacity: 0;
}



.xbox .face {
  background: url(dpad.png);
  position: absolute;
  opacity: 0;
}
